* {
    box-sizing: content-box;
}

body{
    background: rgb(236, 226, 226);
}

.dropContainer {
    background: #fff;
    min-height: 300px;
    min-width: 250px;
}

li:hover {
    border: dashed 1px black;
}

