body{
    background: linear-gradient(60deg, grey, transparent);
}

form {
    width: 0;
    height: 0;
    overflow: hidden;
}

#imgContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all ease 0.5s;
    max-width: 500px;
    width: 0;
    height: 0;
    overflow: hidden;
}

#img {
    width: 100%;
}

#closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: #fff;
    padding: 2px;
    font-size: 1.15em;
    font-weight: bold;
    line-height: 0.8;
    cursor: pointer;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #d9d9d9;
    font-size: 14px;
}

.start {
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

.innerStart {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inner {
    transform: scale(1.505);
}

span.buttons {
    display: flex;
    justify-content: space-evenly;
}

span.buttons button {
    padding: 5px;
    margin-left: 1px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

span.buttons button:hover{
    transform: scale(1.07);
}

span.elt {
    display: grid;
    grid-template-rows: 15px auto;
    grid-gap: 6px;
}

label {
    font-size: 13px;
    padding: 5px;
}

input, select {
    padding: 4px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.nomPrenom, .telMail, .pièces, .date_send {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 35px;
}

.latLong {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    padding-bottom: 35px;
}


.nom, .prenom, .tel, .email, .pièce, .numero, .date, .lat, .long {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12px auto;
    grid-gap: 8px;
}

.send {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}

.getCords {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 3px;
}

input#getCords {
    border-radius: 7px;
    /*width: 75%;*/
    margin: auto;
    padding: 5px;
    opacity: 0.6;
    margin-top: 25%;
}

input#date {
    height: 12px;
}

input#send {
    border-radius: 20px;
    width: 75%;
    margin: auto;
    outline: none;
    border: none;
    padding: 10px;
    opacity: 0.6;
}

input#send:hover, input#getCords:hover{
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 1024px) {
    input#send, input#getCords{
        opacity: 1;
    }
}

@media (max-width: 720px) {
    .inner {
        transform: scale(1.10);
    }
}
@media (max-width: 630px) {
    .inner {
        transform: scale(1.05);
    }
}
@media (max-width: 550px) {
    .inner {
        transform: scale(1);
    }
}
@media (max-width: 500px) {
    .inner {
        transform: scale(0.9);
    }
}
@media (max-width: 425px) {
    .inner {
        transform: scale(0.80);
    }
}
@media (max-width: 380px) {
    .inner {
        transform: scale(0.74);
    }
}
@media (max-width: 359px) {
    .inner {
        transform: scale(0.67);
    }
}
@media (max-width: 310px) {
    .inner {
        transform: scale(0.5);
    }
}